@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SFProDisplay-Bold.eot');
    src: url('assets/fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('assets/fonts/SFProDisplay-Bold.woff') format('woff'),
        url('assets/fonts/SFProDisplay-Bold.ttf') format('truetype'),
        url('assets/fonts/SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

